modules = ["nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3001

[userenv]

[userenv.shared]
VITE_GEMINI_API_KEY = "AIzaSyAsO3AcCTsTtjYUXroabNbFU5BqcF-3wtU"
VITE_SUPABASE_URL = "https://tfexsuwrpnsvwjrhnuje.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRmZXhzdXdycG5zdndqcmhudWplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE3NTgwNzksImV4cCI6MjA4NzMzNDA3OX0.25MTXr4Fq1da5LdRN2DkeUmHnVSgIL_NuTDHvUqI0cM"
